.home-page {
    margin-left: 25px;

    .headshot {
        position: absolute;
        right: 20%;
        top: 20%;
        height: 80%;
        border-radius: 50%;
    }
    
    .text-zone {
        margin-left: 120px;
        margin-top: 5%;
        left: 10%;
        width: 40%;
    }

    h1 {
        color: white;
        margin: 0;
        font-family: 'Coolvetica';
        font-size: 3.5em;
        font-weight: 400;
        min-width: 300px;
    }

    h2 {
        color: rgba(255, 255, 255, 0.781);
        margin-top: 20px;
        font-weight: 400;
        font-size: 25px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}

@media only screen and (max-width: 1110px) {
    .headshot {
        display: none;
    }
}

@media only screen and (max-width: 980px)  {
    .home-page {
        width: 100%;

        .text-zone {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
        }
    }
}