.contact-page {
    .text-zone {
        position: relative;
        left: 10%;
        width: 35%;
        vertical-align: middle;
        height: 100%;
    }
}

.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style-type: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background-color: #115173;
        height: 60px;
        font-size: 16px;
        font-family: sans-serif;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background-color: #115173;
        height: 60px;
        font-size: 16px;
        font-family: sans-serif;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        color: #ffd700;
        background: 0 0;
        font: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: right;
        border-radius: 4px;
    }
}

.info-map {
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}

.map-wrap {
    background: rgba(8, 253, 216, .1);
    width: 50%;
    margin-right: 3%;
    height: 100%;
}

.leaflet-container {
    width: 50%;
    height: 100%;
    margin-left: 48%;
    top: 0;
    position: absolute;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 1350px)  {
    .contact-page {
        .text-zone {
            margin-left: auto;
            margin-right: auto;
            left: 0;
        }
    }

    .info-map {
        display: none;
    }

    .map-wrap {
        display: none;
    }

    .leaflet-container {
        display: none;
    }

}

@media only screen and (max-width: 980px) {
    .contact-page {
        
        .text-zone {
            width: 90%;
        }
    }
}