.nav-bar {
    background: #181818;
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    min-height: 500px;

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 100%;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            color: #4d4d4e;
            display: block;
            line-height: 80px;
            font-size: 40px;
            height: 80px;
            position: relative;
            text-decoration: none;

            i {
                transition: all .3s ease-out;
            }

            &:hover {
                color:#ffd700;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all .3s ease-out;
            }

            &:first-child {
                &:after {
                    content: "HOME";
                    font-family: sans-serif;
                }
            }
        }

        a.about-link {
            &:after {
                content: "ABOUT";
                font-family: sans-serif;
            }
        }

        a.contact-link {
            &:after {
                content: "CONTACT";
                font-family: sans-serif;
            }
        }

    }

    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a{
                padding: 7px 0;
                display: block;
                font-size: 30px;
                line-height: 30px;
            }

            &:hover svg {
                color: #ffd700
            }
        }
    }
}

@media only screen and (max-width: 980px)  {
    .nav-bar {
        width: 100%;
        height: 10px;
        min-height: 80px;
        min-width: 300px;
        position: fixed;

        nav {
            width: 100%;
            height: 100%;
            margin-left: 15%;
            margin-right: auto;
            position: relative;
            display: inline-flex;

            a {
                font-size: 30px;
                padding-top: 35px;
                width: 20%;
            }
        }
        
        ul {
            position: absolute;
            width: 35px;
            top: 3px;
            right: 10px;
            padding-right: 5px;

            li {
                a {
                    font-size: 25px;
                    line-height: 25px;
                }
            }
        }
    }
}
